/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#myRecos {
  margin-top:40px;
  font-size: 3em;
  padding: 20px 10px;
  border-radius: 4px;
}
