
<%= render 'shared/form' %>
<div class="container" id="main">
  <div class="row">
    <div class="col-sm-12">
      <div class="weather-report">
        <h4>Weather conditions near you: <%= @weather["weather"][0]["main"] %></h4>
        <h2>Here are some recommendations sorted by distance</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<% @recommendations.each do |r| %>
		<%= render "shared/recommendation", r: r %>
	<% end %>
</div>


