
<%= render 'shared/form' %>
<div class="container" id="main">
  <div class="weather-report">
    <h4>Weather conditions near you: <%= @weather["weather"][0]["main"] %></h4>
    <h2>Here are some recommendations sorted by distance</h2>
  </div>

</div>
	<% @recommendations.each do |r| %>
		<%= render "shared/recommendation", r: r %>
	<% end %>


