<div class="weather-report text-center"><h2>These are your ratings</h2></div>
<div class="container">
  <div class="row">
    <% @rates.each do |r| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% r = Recommendation.find(r.rateable_id) %>
        <%= render 'shared/ratings', r: r %>
      </div>
    <% end %>
    <% if @rates.empty? %>
    <div class="text-center no-result">
      <h3>Ops... You have no ratings</h3>
    </div>
    <% end %>
  </div>
  <div class="text-center">
  <%= link_to :back do %>
        <div class="text-center btn btn-back">
          <i class="glyphicon glyphicon-chevron-left"></i> Back
        </div>
        <% end %>
  </div>
</div>
