<h1 class="text-center">These are your ratings</h1>
<div class="container">
  <div class="row">
    <% @rates.each do |r| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% r = Recommendation.find(r.rateable_id) %>
        <%= render 'shared/ratings', r: r %>
      </div>
    <% end %>
    <% if @rates.empty? %>
    <div class="text-center no-result">
      <h3>Ops... You have no ratings</h3>
    </div>
    <% end %>
  </div>
</div>
