<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Fuck the weather!!!", "#", id: "myRecos", class:"btn btn-lg btn-danger" %>

<% content_for(:after_js) do %>
  <script>
  // $.holdReady( true );

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = '<%= "#{recommendations_path}?longitude=" %>' + lon + "&latitude=" + lat;
      $("#myRecos").attr("href", url);
      // window.location = url;
    })
  };
  </script>
<% end %>

<%= link_to "My Profile", user_profile_path(current_user) %>
