<div class="text-center">
  <h1>Pages#home</h1>
  <p id="test"></p>

  <%= link_to "Fuck the weather!!!", "#", id: "myRecos", class:"btn btn-lg btn-danger", data: { loading_text: "Loading..."} %>

</div>
<% content_for(:after_js) do %>
  <script>
  function testLink() {
  if ($("#myRecos").attr("href") == "#") {
    $("#myRecos").hide()
    $("#test").html("Geting your location...");
    console.log($("#myRecos").attr("href"))
    setTimeout(testLink, 0500);
  } else {
    $("#test").hide();
    $("#myRecos").show();
  }
}
  testLink();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = '<%= "#{recommendations_path}?longitude=" %>' + lon + "&latitude=" + lat;
      $("#myRecos").attr("href", url);
      // window.location = url;
    })
  };
  </script>
<% end %>
