<div class="row">
  <div class="text-center col-xs-12 banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path('thunder.jpg') %>);">
    <div class="banner-content">
      <h1>FUCK THE WEATHER</h1>
      <div class="btn-wrapper">
        <div id="load-msg"></div>
        <%= link_to "Fuck the weather!!!", "#", id: "myRecos", class:"btn btn-lg btn-danger", data: { loading_text: "Loading..."} %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
  function testLink() {
  if ($("#myRecos").attr("href") == "#") {
    $("#myRecos").hide()
    $("#load-msg").html("<h3>Getting your location...</h3>");
    console.log($("#myRecos").attr("href"))
    setTimeout(testLink, 0500);
  } else {
    $("#load-msg").hide();
    // $("#myRecos").show();
  }
};
  $("#myRecos").click(function() {
  testLink();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = '<%="#{recommendations_path}?longitude=" %>' + lon + "&latitude=" + lat;
      $("#myRecos").attr("href", url);
      window.location = url;
    })
  };
})
  </script>
<% end %>
