<div class="row">
  <div class="text-center col-xs-12 banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path('thunder.jpg') %>);">
    <div class="banner-content">
      <h1>FUCK THE WEATHER</h1>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="container">
    <h1>Let's fuck the weather!</h1>
    <div class="col-xs-12">
      <div class="btn-wrapper">
        <%= link_to "Fuck the weather!!!", "#", id: "myRecos", class:"huge-button", data: { loading_text: "Loading..."} %>
      </div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <script>
  function testLink() {
  if ($("#myRecos").attr("href") == "#") {
    $("#myRecos").hide()
    $("#test").html("Geting your location...");
    console.log($("#myRecos").attr("href"))
    setTimeout(testLink, 0500);
  } else {
    $("#test").hide();
    $("#myRecos").show();
  }
}
  testLink();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = '<%="#{recommendations_path}?longitude=" %>' + lon + "&latitude=" + lat;
      $("#myRecos").attr("href", url);
      // window.location = url;
    })
  };
  </script>
<% end %>
