.panel .panel-heading {
  background-color:#ffffff;
  padding-left: 15px;
  padding-top: 15px;
  font-weight:700;
  font-size: 36px;
  color:#262626;
  border-color:#ffffff;
}

.panel .panel-default {
  background-color:#ffffff;
  border-color:#cccccc;
}
