

.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.text-profile {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px
}

.btn-profile {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 111px;
  border-radius: 3px;
}

.btn-profile:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  width: 111px;
  border-radius: 3px;
}

.block-btn {
    display: block;
    margin-top: 5px;
    margin-bottom: 100px;
    color: #737373;
}

.btn-edit-profil {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 90px;
  border-radius: 3px;
}

.btn-edit-profil:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  width: 90px;
  border-radius: 3px;
}

.list-link-edit-profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

